.myheading{
    background-color: deepskyblue;
    padding: 10px;
    text-align: center;
}
.myheading2{
    background-color: mediumorchid;
    padding: 5px;
    text-align: center;
}
.myheading3{
    background-color: khaki;
    padding: 5px;
    text-align: center;
}
.SIGNIN
{
text-align: center;
}
    