.myheading{
    background-color: aqua;
    padding: 10px;
}

#pizzaimage
{
    width: 200px
}
.hello {
    font-family: fantasy;
    font-size: larger;
} 
.myheading2{
    background-color: lightskyblue;
    padding: 10px;
}
#pizzamaking{
    width: 200px
}
.hello2{
    font-family: fantasy;
    font-size: larger;
}